xml dtd/todoLM/src/recursos.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!ELEMENT recursos (empleado)+> 
    <!ELEMENT empleado (nombre,apellido+,edad,departamento,salario)> 
        <!ATTLIST empleado numero CDATA #REQUIRED>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT apellido (#PCDATA)>
    <!ELEMENT edad (#PCDATA)>
    <!ELEMENT departamento (#PCDATA)>
    <!ELEMENT salario (#PCDATA)>    
