xml dtd/contactos/src/contactos.xml

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT agenda(contacto*)>
<!ELEMENT contacto (nombre,apellido+,telefono,email?,direccion)>
<!ATTLIST contacto codigo MNTOKEN #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ATTLIST telefono pais CDATA #REQUIRED>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (calle,numero,cp)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT cp (#PCDATA)>

