html/examen1/xml/DEPORTE/src/main/java/deporte.dtd

<?xml version="1.0" encoding="UTF-8"?>

    <!ELEMENT tienda (raqueta+)>

    <!ELEMENT raqueta (marca,modelo,anio,precio,almacen)>
         <!ATTLIST raqueta id CDATA #REQUIRED>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT anio (#PCDATA)>
    <!ELEMENT precio (#PCDATA)>
    <!ELEMENT almacen (#PCDATA)>


