html/3º eval/examen1/xml/flores/src/main/java/flora.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT vivero (especie)>
<!ELEMENT especie (nombre,precio,variedad,origen,colorFruto,colorFruto,otrosDatos)>
<!ATTLIST especie siembra ID #REQUIRED>


<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT variedad (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT colorFruto (#PCDATA)>

<!ELEMENT otrosDatos (maduracion,riego)>
<!ELEMENT maduracion (#PCDATA)>
<!ELEMENT riego (#PCDATA)>



